<h1 class="text-3xl font-bold text-center">Términos y condiciones de uso</h1>
<br />

<p>
  EL PRESENTE CONTRATO CONTIENE LOS TÉRMINOS Y CONDICIONES QUE SE APLICAN CUANDO
  USTED SE CONVIERTE EN EL USUARIO.
</p>
<br />

<h2 class="text-xl font-bold">GENERALES</h2>
<br />
<p class="text-lg">
  INNOVACIONES TECNOLÓGICAS DE IBEROAMÉRICA S.C. (AGRIICOLA), es una persona
  moral legalmente constituida, de conformidad con las leyes mexicanas como lo
  demuestra con la escritura de su acta constituida identificada con el folio
  111114161013 otorgada por el Licenciado Salvador Castillo Núñez, Notario
  público ciento treinta y siete, la cual se distingue con la clave de Registro
  Federal de Contribuyentes ante la Secretaría de hacienda y Crédito Público es
  ITI111202Q26 conforme a su cédula de identificación fiscal.
</p>
<br />

<p class="text-lg">
  Cuenta con elementos propios y suficientes, así como las capacidades
  profesionales necesarias para ejecutar y/o cumplir con las actividades y
  servicios profesionales en materia legal y tecnológica para la celebración del
  presente contrato.
</p>
<br />

<p class="text-lg">
  Todos los derechos de titularidad y de propiedad intelectual de cualquiera de
  los contenidos que se muestran en nuestra plataforma quedan protegidos por las
  leyes mexicanas y tratados vigentes en materia de propiedad intelectual
  perteneciéndole a INNOVACIONES TECNOLOGICAS DE IBEROAMERICA S.C. (AGRIICOLA),
  el pago por licencia de funcionamiento por parte de los usuarios no le concede
  ningún derecho de propiedad.
</p>
<br />

<p class="text-lg">
  Los presentes términos y condiciones tienen como objetivo establecer las bases
  respecto a las obligaciones de uso de plataforma. Por lo tanto, al adquirir
  una suscripción o al hacer uso de nuestra plataforma el usuario acepta regirse
  por estos Términos y Condiciones.
</p>
<br />

<h3 class="text-lg font-bold">
  Los Usuarios deben ser mayores de 18 años. Si tiene menos de 18 años, es
  forzoso que no adquiera nuestros servicios y no nos envíe ninguna información.
</h3>
<br />

<h2 class="text-xl font-bold">DEENDICIONES</h2>
<br />
<p class="text-lg">
  <strong>Usuario</strong> se refiere a los servicios que brindamos a través de
  nuestro Sitio.
</p>
<br />

<p class="text-lg">
  <strong>Plataforma</strong> se refiere a nuestros sitios web,
  www.agriicola.com y sus subdominios.
</p>
<br />

<p class="text-lg">
  <strong>INNOVACIONES TECNOLÓGICAS DE IBEROAMÉRICA S.C. (AGRIICOLA)</strong> se
  refiere a una empresa legalmente constituida bajo las leyes de Estados Unidos
  Mexicanos, inscrita el día 2 de diciembre del 2011.
</p>
<br />

<p class="text-lg">
  <strong>Licencia</strong> Contrato establecido entre INNOVACIONES TECNOLÓGICAS
  DE IBEROAMERICA S.C. (AGRIICOLA) al usuario el permiso de uso cumpliendo los
  términos y condiciones de uso detallados en este documento, por el pago de
  servicios.
</p>
<br />

<p class="text-lg">
  <strong>Hectárea</strong> medida de superficie de 10000 m2.
</p>
<br />

<h2 class="text-xl font-bold">
  ALCANCES DE LA LICENCIA. USOS PERMITIDOS Y RESTRICCIONES DE LA LICENCIA.
</h2>
<br />

<p class="text-lg">
  El uso de licencia no permite que nuestra plataforma se halle disponible en
  donde pueda ser utilizado por múltiples dispositivos a la vez, está
  estrictamente prohibido que el usuario pueda plagiar nuestro sitio web o crear
  software similares o basados en www.agrícola.com.
</p>
<br />

<p class="text-lg">
  El usuario tiene prohibido alquilar, copiar, ceder, prestar o transmitir de
  cualquier forma su licencia, es intransferible bajo cualquier modalidad ya sea
  gratuitamente o por pago por licencia.
</p>
<br />

<p class="text-lg">
  El pago que realiza el usuario por el uso de nuestra plataforma solo concibe
  uso y administración de sus cultivos no adquiere ningún derecho de propiedad
  intelectual, incluyendo textos, gráficos, marcas o cualquier elemento
  localizado en nuestra plataforma.
</p>
<br />

<p class="text-lg">
  El usuario puede hacer uso de las herramientas otorgadas por nuestra
  plataforma para la administración del cultivo, los datos proporcionados por el
  usuario o cualquier proceso que involucre nuestra plataforma es
  responsabilidad del usuario ingrese datos fidedignos, es responsabilidad del
  usuario la falsedad con la que los conduzca.
</p>
<br />

<p class="text-lg">
  Queda prohibida la reventa de licencias, las ventas de licencias deben ser
  suministradas por INNOVACIONES TECNOLÓGICAS DE IBEROAMÉRICA S.C. (AGRIICOLA).
</p>
<br />

<h2 class="text-xl font-bold">
  CONSENTIMIENTO LIBRE, EXPRESO E INFORMADO PARA ACCESO A INFORMACIONES
  CONFIDENCIALES Y PARA LA UTILIZACIÓN DE DATOS
</h2>
<br />
<p class="text-lg">
  Al utilizar nuestra plataforma además de aceptar nuestro términos y
  condiciones, políticas de privacidad y política de cookies, el usuario acepta
  que se encuentra en pleno uso de sus facultades físicas, mentales y legales
  para hacer uso de nuestra plataforma y que al momento de su registro autoriza
  libremente que www.agriicola.com recolecte, almacene, utilice y realice
  tratamiento de la información, incluyendo los datos especificados en nuestra
  Política de Privacidad.
</p>

<p class="text-lg">
  recolecte, almacene, utilice y realice tratamiento de la información,
  incluyendo los datos especificados en nuestra Política de Privacidad.
</p>

<p class="text-lg">
  El usuario expresa su consentimiento que su información puede ser transferida
  a terceros con el objeto de dar cumplimiento a las obligaciones legales y
  funcionales para ofrecerle un servicio de calidad.
</p>

<h2 class="text-xl font-bold">
  El usuario accede aceptar y recibir notificaciones por parte de INNOVACIONES
  TECNOLÓGICAS DE IBEROAMÉRICA S.C. (AGRIICOLA) mediante su correo electrónico
  para notificar actualización, comentarios, publicidad y promociones.
</h2>
<br />

<h2 class="text-xl font-bold">
  ADQUISICIÓN DE LICENCIA, CONDICIONES DE PAGO Y VENCIMIENTO DE LICENCIA
</h2>
<br />

<p class="text-lg">
  La adquisición de licencia el usuario debe realizar forzosamente un registro
  para acceder a nuestra plataforma comprometiéndose a otorgar datos verídicos
  debido a que INNOVACIONES TECNOLÓGICAS DE IBEROAMÉRICA S.C. (AGRIICOLA) queda
  exento de la responsabilidad de los datos falsos que el usuario haya
  facilitado,
</p>
<br />

<p class="text-lg">
  Consecutivamente realizar el pago por el uso de nuestra plataforma y servicios
  el cual es un pago anual de $3,999 MXN en este pago se otorga la
  administración de una hectárea de cultivo, si el usuario desea acceder a la
  adquisición de más hectáreas el costo es $699.00 MXN por pago anual por
  hectárea.
</p>
<br />

<p class="text-lg">
  El pago se realiza únicamente mediante el módulo de pago en línea que se
  encuentra dentro de nuestra plataforma, utilizando servicios de terceros como
  STRIPE para el procesamiento de transacciones con cada usuario.
</p>
<br />

<p class="text-lg">
  El usuario puede aumentar la cantidad de adquisición de hectáreas en su
  licencia en el momento que lo desee.
</p>
<br />

<h2 class="text-xl font-bold">
  La licencia entra en vigor desde el momento en que su transacción de pago fue
  generada o aceptada de manera exitosa y finaliza su vigencia 365 días después
  de la adquisición al finalizar el usuario deberá renovar el pago si desea
  continuar con su servicio. En caso de que el usuario incumpla cualquier norma
  estipulada en nuestra política de privacidad o nuestros términos y condiciones
  INNOVACIONES TECNOLÓGICAS DE IBEROAMÉRICA S.C. (AGRIICOLA) tendrá la facultad
  de en cualquier momento cancelar su registro y acceso a nuestra plataforma.
</h2>
<br />

<p class="text-lg">
  LEYES DE LOS ESTADOS UNIDOS MEXICANOS www.agriicola.com Los presentes términos
  y condiciones rigen mediante las leyes vigentes de los Estados Unidos
  Mexicanos y el usuario reconoce que se sujeta al tenor de las anteriores
  declaraciones, el presente documento constituye el acuerdo entre INNOVACIONES
  TECNOLÓGICAS DE IBEROAMÉRICA S.C. (AGRIICOLA) y el usuario con respecto a la
  utilización de nuestra plataforma que se encuentra identificada en el
  siguiente dominio
</p>
<br />
