<footer class="bg-soft-blue py-6">
  <div class="container mx-auto flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-6">
    <!-- Logotipo y políticas de privacidad -->
    <div class="flex flex-col items-center md:items-start md:w-1/3 cursor-pointer">
      <img src="assets/img/logo5.svg" alt="Logo" class="h-16">
      <a routerLink="policies" routerLinkActive="router-link-active"  class="text-slate-950 underline mt-2">Políticas de privacidad</a>
    </div>
    <!-- Información de México -->
    <div class="md:w-1/3 text-left">
      <h2 class="text-slate-950 font-bold text-lg">MÉXICO</h2>
      <p>José Ugarte #180 Colonia Nueva Chapultepec<br>
         CP 58280 Morelia Michoacán</p>
      <p><a href="mailto:contacto@agriicola.com" class="text-slate-950">contacto&#64;agriicola.com</a></p>
      <p class="text-slate-950">+52 443 350 4059 - +52 332 929 3345</p>
    </div>
    <!-- Información de África -->
    <div class="md:w-1/3 text-left md:text-left">
      <h2 class="text-slate-950 font-bold text-lg">ÁFRICA</h2>
      <p>Moisés Amselem Elbaz<br>
         238 Qua Mediona 1A Q. Mediouna LT. 238 Villa 9000 Tenger. Maroc.</p>
      <p><a href="mailto:amselemeibaz@agriicola.com" class="text-slate-950">amselemeibaz&#64;agriicola.com</a></p>
      <p class="text-slate-950">+52 55 15 92 5461</p>
    </div>
  </div>
</footer>
