<h1 class="text-center font-bold text-3xl">Aviso de privacidad</h1>
<br />
<p class="text-lg">
  Este Aviso de Privacidad se actualizó por última vez el 8 de octubre del 2022.
</p>
<br />

<p class="text-lg">
  La presente política de privacidad , entra en vigor desde el momento en que
  cualquier persona accede o hace uso de nuestro sistema web o servicios,
  expresada en un lenguaje claro, con estructura y diseño que facilite su
  comprensión, con el objetivo de describir la utilización y procesamiento de
  información, en cumplimiento con la
  <strong
    >ley de protección de datos personales en posesión de sujetos obligados del
    estado de Michoacán y la federal de protección de datos personales en
    posesión de particulares</strong
  >, regulando el tratamiento legítimo, controlado e informado, a efecto de
  garantizar la privacidad y el derecho a la autodeterminación informativa de
  nuestros usuarios. Qué le concierne a
  <strong
    >INNOVACIONES TECNOLÓGICAS DE IBEROAMÉRICA S.C. (AGRIICOLA) con domicilio
    fiscal José Ugarte #180 Colonia Nueva Chapultepec Morelia Michoacán
    identificada con el registro federal de contribuyentes ITI111202Q26.</strong
  >
</p>
<br />

<p class="text-lg">
  Es importante la lectura del presente Aviso de privacidad cuidadosamente
  puesto que el uso y su aplicación es de suma importancia. Si no entiendes
  algún aspecto de nuestra Política de Privacidad, comunícate con nosotros a
  contactoagriicola.com .
</p>
<br />

<p class="text-lg">
  Al usar nuestros servicios, acepta los términos y condiciones de este Aviso de
  privacidad.
</p>
<br />

<p class="text-lg">
  El uso que se realiza con tu información personal es necesario para cumplir
  con obligaciones legales y funcionales para operar nuestro sitio, así como los
  servicios que ofrecemos.
</p>
<br /><br />

<h3 class="text-xl font-bold">
  Finalidades del tratamiento para las cuales se obtienen los datos personales.
</h3>
<br />
<p class="text-lg">
  Realizamos la recopilación de datos que usted directamente ingresa a nuestro
  sitio web sobre la prestación de servicios que efectúa en el centro de trabajo
  en la cual se realiza el uso de nuestro sistema para la administración y
  monitoreo de sus cultivos.
</p>
<br />

<p class="text-lg">
  Lo dispuesto en este aviso de privacidad que le compete a INNOVACIONES
  TECNOLÓGICAS DE IBEROAMÉRICA S.C. (AGRIICOLA)
</p>
<br />

<ul class="list-inside list-disc indent-4">
  <li class="text-lg">
    El uso que se realiza con tu información personal es necesario para cumplir
    con nuestras obligaciones, con el objetivo de efectuar lo estipulado en los
    Términos y Condiciones de uso de nuestro sitio, los que son aceptados al
    navegar por el mismo.
  </li>
  <li class="text-lg">
    El uso de tu información personal es necesario para cumplir con obligaciones
    legales, funcionales y satisfacer nuestros intereses legítimos o los de
    nuestros usuarios, los cuales comprenden:

    <ul class="list-disc list-inside indent-8">
      <li class="text-lg">Operar nuestro sitio y ofrecer nuestro servicio;</li>
      <li class="text-lg">
        Garantizar al usuario el acceso, y uso de su cuenta personal en nuestra
        plataforma web;
      </li>
      <li class="text-lg">
        Gestionar compras o aumento de paquetes en sus hectáreas en la cuenta
        personal del usuario;
      </li>
      <li class="text-lg">
        Análisis de estadísticos y fines internos de administración.
      </li>
    </ul>
  </li>
</ul>
<br />
<p class="text-lg">
  INNOVACIONES TECNOLÓGICAS DE IBEROAMÉRICA S.C. (AGRIICOLA). Emplea un cobro
  por sus servicios.
</p>
<br />
<p class="text-lg">
  Las transacciones y procesos de pago se realizan mediante pagos en línea de
  los servicios dentro nuestro sitio. En este caso, utilizamos servicios de
  terceros STRIPE para el procesamiento de cada transacción en la adquisición de
  cada licencia. El procesador de pago utilizado cumple las normas establecidas
  por el estándar PCI-DSS gestionado por el comité PCI SSC (PCI Security
  Standards Council), que es un esfuerzo conjunto de marcas como Visa,
  MasterCard, American Express y Discover. Los requisitos del estándar PCI-DSS
  ayudan a garantizar una gestión segura de los datos del pago.
</p>
<br />

<h4 class="text-lg font-bold">Stripe</h4>
<br />
<p class="text-lg">
  La Política de privacidad se puede consultar en https://stripe.com/us/privacy
</p>
<br />

<p class="text-lg">
  No se realizan transferencias de <strong>datos personales</strong> a las
  autoridades, poderes, entidades, órganos y organismos gubernamentales de los
  tres órdenes de gobierno.
</p>
<br />

<h4 class="text-lg font-bold">¿Qué datos obtenemos?</h4>
<br />
<p class="text-lg">
  INNOVACIONES TECNOLÓGICAS DE IBEROAMÉRICA S.C. (AGRIICOLA), recopila datos que
  usted directamente ingresa a nuestro sitio, sobre su registro y administración
  de su cultivo.
</p>
<br />

<p class="text-lg">
  <strong>Información de identificación personal</strong>, también denominado
  <strong>''datos personales''</strong>, es aquella información de
  identificación personal que puede incluir información
  <strong class="underline">
    como nombre, apellidos, correo electrónico, fecha de nacimiento, género y
    país de residencia.</strong
  >
  Tu eres el responsable de garantizar la precisión de la información de
  identificación personal que envíes a INNOVACIONES TECNOLÓGICAS DE IBEROAMÉRICA
  S.C. (AGRIICOLA). La información errónea, falsa o inexacta puede afectar el
  uso del sitio.
</p>
<br />

<h4 class="text-lg font-bold">Datos que nos proporciona</h4>
<br />
<p class="text-lg">
  Recolectamos información de identificación personal que nos proporcionas
  cuando creas tu cuenta, actualizas o cambias tu información, aumentas la
  compra de tu suscripción, emisión de facturación, sin ser considerado dato
  personal recolectamos información referente a la administración de tus
  cultivos (localización, actividades, gastos, cortes). El uso de la información
  antes mencionada es con el objetivo de proporcionar un adecuado uso de
  nuestros servicios.
</p>
<br />

<h4 class="text-lg font-bold">Datos de cuenta</h4>
<br />
Para el uso y navegación de nuestro sitio web es necesario la creación de una
cuenta de usuario. Cuando crea su cuenta, recolectamos y almacenamos datos que
nos proporciona usted mismo como su nombre, apellidos y correo electrónico.

<h4 class="text-lg font-bold">Confidencialidad y seguridad de información</h4>
<br />
INNOVACIONES TECNOLÓGICAS DE IBEROAMÉRICA S.C. (AGRIICOLA), se compromete al
cumplimiento de su obligación de resguardar los datos de carácter personal,
adoptando las medidas necesarias para evitar su alteración, pérdida, tratamiento
o acceso no autorizado de acuerdo a lo establecido en la presente política de
privacidad.

<p class="text-lg">
  Nuestra plataforma web tiene implementadas las medidas de seguridad de índole
  técnico y administrativas necesarias para garantizar la seguridad de cada uno
  de sus usuarios, manteniendo continuamente la supervisión, control y
  evaluación de los procesos involucrados para asegurar el resguardo de
  información y seguridad de los usuarios.
</p>
<br />

<h4 class="text-lg font-bold">
  Modificación de nuestra política de privacidad
</h4>
<br />
<p class="text-lg">
  Nuestro sitio se encuentra en constante evolución con la finalidad de ofrecer
  un servicio de calidad, lo cual puede estar sujeto a actualizaciones en
  nuestra política de privacidad de acuerdo con la legislación aplicable en cada
  momento.
</p>
<br />

<p class="text-lg">
  En caso de ser modificada nuestra Política de Privacidad el usuario será
  debidamente notificado para que quede informado sobre los cambios realizados
  en el tratamiento de sus datos personales mediante correo electrónico personal
  utilizado para el registro de su cuenta.
</p>
<br />

<h4 class="text-lg font-bold">
  Mecanismos y medios disponibles para que ejercer sus derechos ARCO (Acceso,
  Rectificación, Cancelación y Oposición)
</h4>
<p class="text-lg">
  Envía un correo con un escrito libre explicando el derecho que desea efectuar
  Acceso, Rectificación Cancelación u Oposición de sus datos personales el
  escrito deberá contener lo siguiente:
</p>
<br />

<ul class="list-inside list-disc indent-4">
  <li class="text-lg">Fecha de solicitud</li>
  <li class="text-lg">Nombre del titular</li>
  <li class="text-lg">Correo del titular</li>
  <li class="text-lg">Derecho a ejecutar y motivo de ejecución</li>
  <li class="text-lg">
    Anexar identificación para validar que el titular sea quien realiza la
    solicitud
  </li>
</ul>
<br />
<p class="text-lg">
  Deberá enviarse a contactoagriicola.com y tendrá una respuesta en 24 horas
  sobre la solicitud de su eliminación de cuenta y datos.
</p>
<br />

<p class="text-lg">
  Si tiene alguna pregunta sobre este Aviso de Privacidad, contacte con
  nosotros:
</p>
<br />

<ul class="list-inside list-disc indent-4">
  <li class="text-lg">Por e-mail: contactoagriicola.com</li>
  <li class="text-lg">Mediante nuestra solicitud de contacto</li>
</ul>
<br />
